---
//Layout.astro
import "@radix-ui/themes/styles.css";
import { Theme } from "@radix-ui/themes";
import { Cart } from "../components/react/cart/cart.component";

interface Props {
  title?: string;
  hasHeader?: boolean;
}

const { title, hasHeader = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Stripe Ecommerce"}</title>
  </head>
  <body>
    <Theme>
      <div
        class="flex flex-col justify-center items-center bg-gray-800 text-white min-h-screen"
      >
        {hasHeader && <h1 class="text-4xl my-5">Stripe Ecommerce</h1>}
        <main>
          <slot />
        </main>
      </div>
    </Theme>
  </body>
</html>
